<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container"> <a class="navbar-brand" href="#">
      <i class="fa d-inline fa-lg fa-circle-o"></i>
      <b> Episcan</b>
    </a> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar11" style="">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar11">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"> <a class="nav-link" href="/">Accueil</a> </li>
        <li class="nav-item"> <a class="nav-link" href="/mangas_list">Tous les Mangas</a> </li>
        <li class="nav-item"> <a class="nav-link" href="/add_manga">Demande d'ajout<br></a> </li>
      </ul>
      <form class="form-inline my-2 my-lg-0"> <input class="form-control mr-sm-2" type="text" placeholder="Search"> <button class="btn my-2 my-sm-0 btn-outline-dark text-light btn-sm" type="submit" style="">Search</button> </form>
    </div>
  </div>
</nav>
